html {
    background-color: #0D0D0D;
    color: white;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/font/SpaceMono-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/font/SpaceMono-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/font/SpaceMono-Bold.ttf');
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: 'Space Mono';
    src: url('/assets/font/SpaceMono-BoldItalic.ttf');
    font-style: italic;
    font-weight: bold;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 2em;
}
