* {
    background-color: #0d0d0d;
    color: white;
}

.title {
    font-family: SpaceMono-Bold;
}

.text {
    font-family: SpaceMono-Regular;
}

.bold {
    font-family: SpaceMono-Bold;
}

.bolditalic {
    font-family: SpaceMono-BoldItalic;
}

.italic {
    font-family: SpaceMono-Italic;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

body {
    margin-top: 1%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 5%;
}

.peryton-color {
    color: #ff3e00;
}

.topnav {
    position: sticky;
    top: 0px;
    padding: 10px 0px;
    height: 5%;
}