@font-face {
    font-family: 'SpaceMono-Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/font/SpaceMono-Bold.ttf');
}

@font-face {
    font-family: 'SpaceMono-BoldItalic';
    font-style: italic;
    font-weight: bold;
    src: url('/assets/font/SpaceMono-BoldItalic.ttf');
}

@font-face {
    font-family: 'SpaceMono-Italic';
    font-style: italic;
    font-weight: normal;
    src: url('/assets/font/SpaceMono-Italic.ttf');
}

@font-face {
    font-family: 'SpaceMono-Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/font/SpaceMono-Regular.ttf');
}

