.title {
    font-family: SpaceMono-Bold;
}

.text {
    font-family: SpaceMono-Regular;
}

.bold {
    font-family: SpaceMono-Bold;
}

.bolditalic {
    font-family: SpaceMono-BoldItalic;
}

.italic {
    font-family: SpaceMono-Italic;
}